{% extends "vinsta/base.html" %}

{% block content %} {{block.super}}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
      <main>
        <section>
            {% for post in posts %}
            <article id="post">
                <div class="Instagram-card">
                    <div class="Instagram-card-header">
                        <a href="user/{{post.profile.user.id}}">
                            <img src="{{post.profile.photo.url}}" class="Instagram-card-user-image ">
                        </a>
                        <a class="Instagram-card-user-name" href="user/{{post.profile.user.id}}"> {{post.profile.user}} </a>
                        <a class="instagram-card-icon left" href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    </div>
    
                    <div class="Instagram-card-image">
                        <img src="{{post.image.url}}" width="595">
                    </div>
    
                    <div class="Instagram-card-content">
                        <a class="instagram-card-icon" href="/like/{{post.id}}"><i class="far fa-heart"></i></a>
                        <a class="instagram-card-icon" href="/comments/{{post.id}}"><i class="far fa-comment"></i></a>
                        <a class="instagram-card-icon left" href="#"><i class="far fa-bookmark"></i></a>
                        <p class="Likes">{{post.likes.count}} Likes</p>
                        <p>
                            <a class="Instagram-card-content-user" href="#">{{post.profile.user}}</a> {{post.caption}}.
                        </p>
                        <a href="/comments/{{post.id}}" class="comments">
                            {% if number %}
                            View all {{number}} comments
                            {% endif %}
                        </a>
                        <p class="date">{{post.created_on|timesince}} AGO </p>
                        <hr>
                    </div>
    
                </div>
            </article>
            {% endfor %}
        </section>
    </main>
		</div>
		<div class="col-md-4">
      
		</div>
	</div>
</div>

{% endblock %}