
{% extends "vinsta/base.html" %}
{% block content %} {{block.super}}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
            {% for post in posts %}
            
          <div class="card-cont">
            <div class="card">
                <div class="card-head">
                    <a href="user/{{post.profile.user.id}}">
                        <img src="{{post.profile.photo.url}}" class="user-image">
                    </a>
                    <a class="Instagram-card-user-name" href="user/{{post.profile.user.id}}"> {{post.profile.user}} </a>
                    
                </div>   
            <img src="{{post.image.url}}" alt="Avatar" style="width:100%">
            <div class="container">
            <a class="instagram-card-icon" href="#"><i class="far fa-heart"></i></a>
            <a class="instagram-card-icon" href="/comments/{{post.id}}"><i class="far fa-comment"></i></a>
            
            <p class="Likes">{{post.likes.count}} Likes</p>
            
            <p><a class="Instagram-card-content-user" href="#">{{post.profile.user}}</a> {{post.caption}}.</p> 
        
            <p class="date">{{post.created_on|timesince}} ago </p>
        </div>
            </div>
        </div> 
            {%endfor%}   

		</div>
		<div class="col-md-4">

            <legend>People you may know</legend>
        
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.profile.photo.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="user/{{post.profile.user.id}}">{{ post.profile.user }}</a>
            </div>
            <p class="article-content">{{ post.profile.bio }}</p>
            
          </div>
        </article>
    {% endfor %}

		</div>
	</div>
</div>

{%endblock%}