body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }


header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: var(--header-color);
    border-bottom: 1px solid var(--medium-grey);
}

#logo {
    height: 90%;
    width: 130px;
    padding: 5px;
}

input {
    width: 130px;
    height: 80%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--medium-grey);
    background-color: var(--white);
}

nav {
    display: inline-flex;
}

nav i {
    margin: 5px 10px;
    font-size: 20px;
    color: var(--strong-grey);
}

#user {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

#user img,
#profile-pic img {
    height: 100%;
    width: 100%;
    margin: 2px 10px;
    border-radius: 50%;
}

.card-cont {
    width: 90%;
    background-color: var(--white);
    background-color: var(--white);
    border: 1px solid var(--egg-white);
    border-radius: 3px;
    margin-bottom: 60px
}


a {
    text-decoration: none;
}

.user-image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.Instagram-card-time {
    float: right;
    width: 80px;
    padding-top: 10px;
    text-align: right;
    color: var(--grey);
}

.Instagram-card-user-name {
    margin-left: 20px;
    font-weight: bold;
    color: var(--text-color);
}

.Instagram-card-content {
    padding: 20px;
}

.Likes {
    font-weight: bold;
}

.Instagram-card-content-user {
    font-weight: bold;
    color: var(--text-color);
}

.comments {
    color: var(--muted);
}

.date {
    font-size: 10px;
    color: var(--dark-mute);
    text-transform: uppercase;
}

.Instagram-card-footer {
    display: flex;
    align-items: center;
}

hr {
    border: none;
    border-bottom: 1px solid var(--dark-mute);
    margin: 0;
}

.instagram-card-icon {
    font-size: 24px;
    color: var(--text-color);
    margin-right: 15px;
}

.comments-input {
    border: none;
    margin-left: 10px;
    width: 100%;
}
